Vagrant.configure("2") do |config|
{% if proxy_env.enabled %}
  # Proxy settings
  # See also: https://github.com/tmatilai/vagrant-proxyconf
  if Vagrant.has_plugin?("vagrant-proxyconf")
    config.proxy.http     = "{{ proxy_env.http_proxy }}"
    config.proxy.https    = "{{ proxy_env.https_proxy }}"
    config.proxy.no_proxy = "{{ proxy_env.no_proxy | join(',') }}"
  end
{% endif %}
end
