{% for repo_hostname, repo in git_repos | dictsort %}
{% if repo.ssh_private_key is defined %}
Host {{ repo_hostname }}
    HostName {{ repo_hostname }}
    User git
    IdentityFile {{ repo.ssh_private_key }}

{% endif %}
{% endfor %}