
{% for repo_id, repo in git_repos | dictsort %}
[credential "{{ repo.url }}"]
    name = {{ repo.name }}
    email = {{ repo.email }}
{% if repo.http_user is defined %}
    username = {{ repo.http_user }}
{% endif %}
{% if repo.cache_timeout is defined %}
    helper = cache --timeout={{ repo.cache_timeout }}
{% endif %}

{% endfor %}
[init]
    defaultBranch = {{ git_init_default_branch }}

[pull]
    ff = {{ git_pull_ff }}

[user]
    name = {{ git_default_name }}
    email = {{ git_default_email }}
