alias ..='cd ".."'
alias ...='cd "../.."'
alias ....='cd "../../.."'
alias .....='cd "../../../.."'
alias cdw='cd "{{ vscode_config_workspace_root }}"'
{% for git_repo in git_repos | dict2items -%}
alias cd{{ git_repo.key }}='cd "{{ vscode_config_workspace_root }}/{{ git_repo.key }}"'
{% if git_repo.value.cdgit_alias is defined and git_repo.value.cdgit_alias %}
alias cdgit='cd "{{ vscode_config_workspace_root }}/{{ git_repo.key }}"'
{% endif %}
{% endfor %}
