{
{% if vscode_config_docker_enabled %}
    "[dockerfile]": {
        "editor.defaultFormatter": "foxundermoon.shell-format"
    },
{% endif %}
{% if vscode_config_markdown_enabled %}
    "[markdown]": {
        "editor.defaultFormatter": "DavidAnson.vscode-markdownlint"
    },
{% endif %}
{% if vscode_config_python_enabled %}
    "[python]": {
        "editor.codeActionsOnSave": {
            "source.organizeImports": "explicit"
        },
    },
{% endif %}
{% if vscode_config_bash_enabled %}
    "[shellscript]": {
        "editor.defaultFormatter": "foxundermoon.shell-format",
        "editor.tabSize": 4
    },
{% endif %}
{% if vscode_config_ansible_enabled %}
    "ansible.validation.lint.arguments": "--profile=production",
{% endif %}
    "cSpell.language": "en,fr",
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.formatOnPaste": true,
    "editor.formatOnSave": true,
    "editor.formatOnSaveMode": "modificationsIfAvailable",
    "editor.inlayHints.enabled": "offUnlessPressed",
    "editor.renderWhitespace": "all",
    "editor.rulers": [
        80,
        100,
        120
    ],
    "editor.suggestSelection": "first",
    "editor.tabSize": 4,
    "files.associations": {
{% if vscode_config_ansible_enabled %}
        // Ansible
        "**/defaults/**/*.{yml,yaml}": "ansible",
        "**/galaxy.yml": "ansible",
        "**/group_vars/**/*.{yml,yaml}": "ansible",
        "**/handlers/**/*.{yml,yaml}": "ansible",
        "**/host_vars/**/*.{yml,yaml}": "ansible",
        "**/meta/main.yml": "ansible",
        "**/tasks/**/*.{yml,yaml}": "ansible",
        "**/playbooks/**/*.{yml,yaml}": "ansible",
        "**/playbook*.{yml,yaml}": "ansible",
        "**/vars/**/*.{yml,yaml}": "ansible",
        "*.cfg": "ini",
        "ansible.cfg": "ini",
        "DEV": "ini",
        "inventory": "ini",
        "PROD": "ini",
        "VAL": "ini",
{% endif %}
{% if vscode_config_apache_enabled %}
        // Apache HTTPD
        "**/conf-available/*": "apacheconf",
        "**/conf-enabled/*": "apacheconf",
        "**/mods-available/*": "apacheconf",
        "**/mods-enabled/*": "apacheconf",
        "**/sites-available/*": "apacheconf",
        "**/sites-enabled/*": "apacheconf",
        "**/sites-included/*": "apacheconf",
        ".htaccess": "apacheconf",
        ".htgroups": "apacheconf",
        ".htpasswd": "apacheconf",
        // Apache HTTPD - Temporaire tant que cette PR n'est pas intégrée dans le plugin "Better Jinja"
        // PR : https://github.com/samuelcolvin/jinjahtml-vscode/pull/127
        "**/conf-available/*.j2": "apacheconf",
        "**/conf-enabled/*.j2": "apacheconf",
        "**/mods-available/*.j2": "apacheconf",
        "**/mods-enabled/*.j2": "apacheconf",
        "**/sites-available/*.j2": "apacheconf",
        "**/sites-enabled/*.j2": "apacheconf",
        "**/sites-included/*.j2": "apacheconf",
        ".htpasswd.j2": "apacheconf",
        ".htaccess.j2": "apacheconf",
        ".htgroups.j2": "apacheconf",
{% endif %}
    },
    "files.exclude": {
        "**/.classpath": true,
        "**/.factorypath": true,
        "**/.project": true,
        "**/.settings": true
    },
    "files.trimTrailingWhitespace": true,
    "git.autofetch": true,
    "git.branchProtection": [
        "main",
        "master"
    ],
    "git.confirmSync": false,
    "git.fetchOnPull": true,
    "git.pruneOnFetch": true,
    "git.pullBeforeCheckout": true,
    "git.showActionButton": {
        "commit": false
    },
    "git.showCommitInput": false,
{% if vscode_config_gitlab_enabled %}
    "gitlab.duoChat.enabled": false,
    "gitlab.duoCodeSuggestions.enabled": false,
{% endif %}
    "gitlens.hovers.currentLine.over": "line",
    "gitlens.telemetry.enabled": false,
{% if vscode_config_python_enabled %}
    "isort.importStrategy": "fromEnvironment",
{% endif %}
{% if vscode_config_markdown_enabled %}
    "markdown.extension.toc.slugifyMode": "gitlab",
    "markdown.extension.toc.updateOnSave": true,
    "markdown.validate.enabled": true,
    "markdownlint.config": {
        "MD007": {
            "indent": 4
        },
        "MD013": false,
        "MD024": {
            "allow_different_nesting": true
        },
        "MD026": {
            "punctuation": ".,:;"
        },
        "MD029": {
            "style": "ordered"
        },
        "MD033": {
            "allowed_elements": [
                "br",
                "hr"
            ]
        }
    },
{% endif %}
{% if vscode_config_python_enabled %}
    "python.analysis.autoFormatStrings": true,
    "python.analysis.autoImportCompletions": true,
    "python.analysis.completeFunctionParens": true,
    "python.analysis.typeCheckingMode": "strict",
    "python.experiments.enabled": false,
    "python.testing.pytestEnabled": true,
{% endif %}
    "redhat.telemetry.enabled": false,
    "telemetry.telemetryLevel": "off",
    "terminal.integrated.fontFamily": "\"UbuntuMono Nerd Font Mono\"",
    "terminal.integrated.fontSize": 16,
    "terminal.integrated.localEchoEnabled": "off",
    "terminal.integrated.scrollback": 10000
}